@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Raleway:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.boshlash {
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: 0.5s ease;
}
header.sticky {
  background: crimson;
  padding: 10px 100px;
}
header .brand {
  color: #ffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand:hover {
  text-decoration: none;
}
header .navigation {
  position: relative;
}
header .navigation a {
  color: #ffff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.5s ease;
}
header .navigation a:hover {
  color:  rgb(235, 128, 149);
}

section {
  padding: 100px;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./image/font3.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main .content {
  max-width: 800px;
}
.main .content h2 {
  color: #ffff;
  font-size: 36px;
  font-weight: 500;
}
.main .content h2 span {
  font-size: 60px;
  font-weight: 600;
}
.animated-text {
  height: 70px;
  overflow: hidden;
  position: relative;
}
.animated-text {
  color: crimson;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 1px;
}
.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}

.btn1 {
  color: #ffff;
  background: crimson;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 30px 0;
  transition: 0.5s ease;
}
.btn1:hover {
  background: #ffff;
  color: black;
  text-decoration: none;
}

.media-icons a {
  color: #ffff;
  font-size: 25px;
  margin-right: 30px;
}
.title1 {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title {
  position: relative;
  color: crimson;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 60px;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: crimson;
  transform: translateX(-50%);
}
.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: crimson;
  transform: translateX(-50%);
}
.about .content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.about .content .col-left {
  position: relative;
  width: 45%;
}
.about .content .col-right {
  position: relative;
  width: 50%;
}
.about .content .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}
.about .content .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about .content-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.paragrap-text {
  font-size: 15px;
}
.skilis {
  background: #000016;
}
.skilis .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffff;
  margin-top: 20px;
}
.skilis .col-left {
  position: relative;
  width: 45%;
}
.skilis .col-left .content-title {
  margin-bottom: 20px;
}
.skilis .col-right {
  position: relative;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.skilis .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}
.skilis .col-right .bar2 {
  margin-bottom: 15px;
  padding: 10px;
}
.skilis .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skilis .col-right .info:hover {
  color: #ffff;
  background: crimson;
  border-radius: 5px;
}
/* .services .content .servies-icon {
color: #ffff;
background: white;
} */

.work {
  background: #000016;
}
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.work .content .card {
  width: 340px;
  margin: 15px;
}
.work .content .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}
.work .content .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.work .content .card-img img:hover {
  transform: scale(1.2);
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-top: 20px; */
}
.contact .row .card {
  background: #ffff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
}
.contact .card .contact-icon {
  color: crimson;
  font-size: 60px;
  text-align: center;
  transition: 0.5s ease;
}
.contact .card:hover .contact-icon {
  transform: translateY(-10px);
}
.contact .card .info h3 {
  color: #111;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
.contact .card span {
  color: #666;
  font-weight: 500;
}
.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}
.contact-form h3 {
  color: #111;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-weight: 400;
  font-size: 17px;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}
.contact-form .input-box .send-btn {
  color: #fff;
  background: crimson;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.contact-form .input-box .send-btn:hover {
  background: #fff;
  color: #000;
}
.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  /* width: 100%; */
  /* height: 100%; */
  padding: 34px;
}
.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}
.footer p {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 1049px) {
  header {
    padding: 12px 20px;
  }
  header .sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: 0.3s ease;
  }
  header .navigation a {
    color: #000;
    font-size: 25px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }
  header .navigation a:hover {
    background: crimson;
    color: #fff;
  }

  .menu-btn2 {
    position: absolute;
    background: url(./image/menu22.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 60px;
    height: 60px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s ease;
    /* opacity: 0; */
  }
  .menu-btn2.active {
    z-index: 999;
    background: url(./image/408-4088745_red-close-icon-png.png) no-repeat;
    background-size: 40px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
    /* opacity: 1; */
  }

  section {
    padding: 80px 20px;
  }
  .main .content h2 {
    font-size: 20px;
  }
  .main .content h3 {
    font-size: 25px;
  }
  .section-title {
    font-size: 36px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .column {
    position: relative;
    width: 100%;
  }
  .about .content .col-right {
    margin-top: 40px;
  }
  .skilis .content {
    flex-direction: column;
  }
  .skilis .content .column {
    position: relative;
    width: 100%;
  }
  .skilis .content .column {
    margin-top: 40px;
  }
  .contact-form {
    padding: 35px 40px;
  }
}
.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
/* .scrollToTop i::before{
  background: #000;
} */
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  background: crimson;
  color: #fff;
}
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

body {
  position: relative;
}

.Modal {
  width: 800px;
  height: 600px;
  border: 1px solid #fff;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  display: fixed;
  left: 20%;
  right: 20%;
  z-index: 5555;
  display: none;
  top: 0;
  border-radius: 15px;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
