.gess {
  display: flex;
}

.guess {
  background: none;
  border: 4px solid #eee;
  /* font-family: inherit; */
  color: inherit;
  font-size: 5rem;
  width: 500px;
}
.btn {
  border: none;
  background-color: rgb(233, 222, 222);
  color: rgb(8, 8, 8);
  /* font-size: 2rem; */
  font-family: inherit;
  /* padding: 2rem 3rem; */
  cursor: pointer;
}
