* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box {
  width: 980px;
  height: 1000px;
  margin: 50px auto;
  background-color: #dde9eb;
}

.box .menyu {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .menyu .btn {
  width: 550px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .menyu .btn button {
  width: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 2px solid #d8d6d6;
  background-color: white;
}

.box .menyu .btn button:hover {
  background-color: red;
  color: white;
}

.box .katigorya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.box .katigorya .emages {
  width: 285px;
  height: 370px;
  margin: 50px 20px;
  line-height: 35px;
  margin-top: -2px;
  background-color: white;
}

.box .katigorya .emages img {
  width: 100%;
}

.box .katigorya .emages div {
  padding: 1rem;
}

.box .katigorya .emages div h4 a {
  text-decoration: none;
  color: #d8d6d6;
  border-left: 2px solid #ff0000;
}

.box .katigorya .emages div p {
  line-height: normal;
  font-weight: bold;
}

.box .tugma {
  margin-left: 42%;
  width: 160px;
  height: 20px;
  color: white;
  border: 0;
  background-color: #ff0000;
}
/*# sourceMappingURL=main.css.map */