$onecolor:white;
$twocolor: rgb(216, 214, 214);
$threecolor:#ff0000;




*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.box{
    width: 980px;
    height: 1000px;
    margin: 50px auto;
    background-color:rgb(221, 233, 235);
    

    .menyu{
       height: 50px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;

       .btn{
        width: 550px;
        height: 35px;
        display: flex;
        justify-content: space-between;

        button{
            width: 80px;
            align-items: flex-end;
            border: 2px solid $twocolor;
            background-color: $onecolor;

        &:hover{
                background-color: red;
                color: white;
                }
             }
          }
       }
      .katigorya{
          display: flex;
          flex-wrap: wrap;
          margin-top: 30px;
          
       .emages{     
        width: 285px;
        height: 370px;
        margin: 50px 20px;
        line-height: 35px;
        margin-top: -2px;
        background-color: $onecolor;

        img{
            width: 100%;
        }

        div{
            padding: 1rem;

            h4 a{
                text-decoration: none;
                color: $twocolor;
                border-left: 2px solid $threecolor;
            }

            p{
                line-height: normal;
                font-weight: bold;
                
                 }
            }
       
       }
    }
.tugma{
    margin-left: 42%;
    width: 160px;
    height: 20px;
    color: $onecolor;
    border: 0;
    background-color: $threecolor;
}
  
}






 


