* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.parent {
  width: 1100px;
  height: 800px;
  margin: 50px auto;
}

.parent .foto1 {
  width: 150px;
  height: 210px;
  margin: -30px 10px;
  position: absolute;
}

.parent .foto2 {
  width: 200px;
  height: 120px;
  position: absolute;
  right: 262px;
  bottom: 80px;
}

.parent h1 {
  text-align: center;
  margin-top: 80px;
}

.parent .box {
  width: 850px;
  height: 400px;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.parent .box .emages {
  background-color: #e5e7d8af;
  width: 270px;
  height: 190px;
  padding-top: 85px;
  text-align: center;
  position: relative;
}

.parent .box .emages.one {
  -webkit-box-shadow: -2px 15px 40px 2px #e6e4e4;
          box-shadow: -2px 15px 40px 2px #e6e4e4;
}

.parent .box .emages.two {
  -webkit-box-shadow: -1px 5px 7px 1px #ecebeb;
          box-shadow: -1px 5px 7px 1px #ecebeb;
}

.parent .box .emages img {
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  right: 55px;
}

.parent .box .emages h3 {
  margin-top: 25px;
  line-height: 35px;
}

.parent .box .emages a {
  font-size: 0.9rem;
  text-decoration: none;
  color: red;
}
/*# sourceMappingURL=main.css.map */