$onecolor:red;
$bcgcolor:#e5e7d8af;



*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: sans-serif;
}

.parent{ 
                width: 1100px;
                height: 800px;
                margin: 50px auto;
    .foto1{
                width: 150px;
                height: 210px;
                margin: -30px 10px;
                position: absolute;  
            }
    .foto2{
                width: 200px;
                height: 120px;
                position: absolute;
                right: 262px;
                bottom: 80px;
    }
                h1{
                    text-align: center;
                    margin-top: 80px;
                }
    .box{
                width: 850px;
                height: 400px;
                margin: 150px auto;
                display: flex;
                justify-content: space-between;
        .emages{
                background-color: $bcgcolor;
                width: 270px;
                height: 190px;
                padding-top: 85px;  
                text-align: center;
                position: relative;
            &.one{
                box-shadow: -2px 15px 40px 2px rgb(230, 228, 228);
            }
            &.two{
                box-shadow: -1px 5px 7px 1px rgb(236, 235, 235);
            }

               img{
                border: 10px solid white;
                border-radius: 50%;
                
                   position: absolute;
                   top: -70px;
                   right: 55px;
               }
                   
              
            h3{
                margin-top: 25px;
                line-height: 35px;
            }
            a{
                font-size: 0.9rem;
                text-decoration: none;
                color: $onecolor;
                
            }
        }
    }
}