*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    .container{
        width: 80%;
        margin: 0 auto;
        .nav__child{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 100px;
            margin-bottom:50px;
            .logo{
                h2{
                    font-size: 3rem;
                    font-family: Arial, Helvetica, sans-serif; 
                }
            }
            .btn{
                ul{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: #000;
                        border: 1px solid;
                        padding: 10px 30px;
                        border-radius: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        transition: all .5s linear;
                        &:hover{
                            background-color:red;
                            color:#fff;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        &:focus{
                            background-color:red;
                            color:#fff;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        }
    }
}
header{
    .container{
        width: 80%;
        margin: 0 auto;
     .head__child{
            display: flex;
            gap: 1.875rem;
         .box-1{
            // border: 1px solid;
            width: 50%;
            padding-bottom: 3.125rem;
            border-radius: .625rem;
            box-shadow: 0 .3125rem .3125rem rgba(0,0,0,0.5);
            .box-1__photo{
                position: relative;
                img{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    width: 100%;
                    &:nth-child(2){
                        position: absolute;
                        top: 40%;
                        left: 40%;
                        width: 6.25rem;
                    }
                }
                p{
                    position: absolute;
                    top: 1.25rem;
                    right: .9375rem;
                    display: inline-block;
                    color:#fff;
                    padding: .625rem 1.25rem;
                    background-color: red;
                    border-radius:.3125rem;
                    display: flex;
                    gap: .625rem;
                    span{
                        display: inline-block;
                        width: .9375rem;
                        height: .9375rem;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
            }
            .box-1__info{
                h2{
                    margin: .625rem 2.5rem;
                    font-size:2rem;
                }
                p{
                    margin: .625rem 3.125rem;
                    font-size:2rem;
                }
            }
            .box-1__post{
                display: flex;
                justify-content:space-between;
                align-items: center;
                margin-top: 3.125rem;
                .box-1__post-1{
                    width: 50%;
                    margin-right: 100px;
                    padding-left:3.125rem;
                    
                    p{
                        color: grey;
                    }
                }
               .box-1__post-1-1{
                   display: flex;
                   flex-direction: row-reverse;
                   align-items: center;
                   width: 50%; 
                   padding-right: 5rem;
                   gap: 3.125rem; 

                .box-1__post-2{
                    background-color:grey;
                    padding: 5px 5px;
                    border-radius: 5px;
                    img{
                        width: 100%;
                    }
                }
                .box-1__post-3{
                    background-color:grey;
                    border-radius: .3125rem;
                    padding: .3125rem .3125rem;
                    img{
                        width: 100%;
                    }
                }
               }
            }
         }
         .box-2{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 1.825rem;
            .quti{
                width: 45%;
                border-radius: .625rem;
                box-shadow: 0 .3125rem .3125rem rgba(0,0,0,0.5);
                .quti__photo{
                    position: relative;
                    img{
                        border-top-right-radius: .625rem;
                        border-top-left-radius: .625rem;
                        width: 100%;
                        &:nth-child(2){
                            position: absolute;
                            top: 40%;
                            left: 40%;
                            width: 3.125rem;
                            height: 3.125rem;
                        }
                    }
                    p{
                        display: flex;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: inline-block;
                        background-color: red;
                        color:#fff;
                        padding: .3125rem 1.875rem;
                        border-bottom-left-radius: .3125rem;
                        border-top-right-radius: .625rem;
                        border-bottom-right-radius: .125rem;
                        border-top-left-radius: .125rem;

                    }
                }
                .quti__info{
                    p{
                        padding: 1.25rem 1.25rem;
                        font-weight: 500;
                        font-size: 1.1rem;
                    }
                }
                .quti__comment{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .625rem 1.25rem;
                    padding-bottom:.575rem;
                    .comment-1{
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                        .comment-1_1{
                            display: flex;
                            gap: 30px;
                            span{
                                color: grey;
                            }
                        }
                        .comment-1_2{
                            display: flex;
                            gap: .1875rem;
                            span{
                                color: grey;
                            }
                        }
                    }
                    .comment-2{
                        display: flex;
                        align-items: center;
                        gap: .625rem;
                        span{
                            color: grey;
                        }
                    }
                }
            }
            }
        }   
    }
}