* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav .container {
  width: 80%;
  margin: 0 auto;
}

nav .container .nav__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
}

nav .container .nav__child .logo h2 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

nav .container .nav__child .btn ul {
  list-style: none;
}

nav .container .nav__child .btn ul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

nav .container .nav__child .btn ul a:hover {
  background-color: red;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

nav .container .nav__child .btn ul a:focus {
  background-color: red;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header .container {
  width: 80%;
  margin: 0 auto;
}

header .container .head__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

header .container .head__child .box-1 {
  width: 50%;
  padding-bottom: 3.125rem;
  border-radius: .625rem;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
}

header .container .head__child .box-1 .box-1__photo {
  position: relative;
}

header .container .head__child .box-1 .box-1__photo img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

header .container .head__child .box-1 .box-1__photo img:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 6.25rem;
}

header .container .head__child .box-1 .box-1__photo p {
  position: absolute;
  top: 1.25rem;
  right: .9375rem;
  display: inline-block;
  color: #fff;
  padding: .625rem 1.25rem;
  background-color: red;
  border-radius: .3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .625rem;
}

header .container .head__child .box-1 .box-1__photo p span {
  display: inline-block;
  width: .9375rem;
  height: .9375rem;
  border-radius: 50%;
  background-color: #fff;
}

header .container .head__child .box-1 .box-1__info h2 {
  margin: .625rem 2.5rem;
  font-size: 2rem;
}

header .container .head__child .box-1 .box-1__info p {
  margin: .625rem 3.125rem;
  font-size: 2rem;
}

header .container .head__child .box-1 .box-1__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.125rem;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1 {
  width: 50%;
  margin-right: 100px;
  padding-left: 3.125rem;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1 p {
  color: grey;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-right: 5rem;
  gap: 3.125rem;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1-1 .box-1__post-2 {
  background-color: grey;
  padding: 5px 5px;
  border-radius: 5px;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1-1 .box-1__post-2 img {
  width: 100%;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1-1 .box-1__post-3 {
  background-color: grey;
  border-radius: .3125rem;
  padding: .3125rem .3125rem;
}

header .container .head__child .box-1 .box-1__post .box-1__post-1-1 .box-1__post-3 img {
  width: 100%;
}

header .container .head__child .box-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.825rem;
}

header .container .head__child .box-2 .quti {
  width: 45%;
  border-radius: .625rem;
  -webkit-box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
}

header .container .head__child .box-2 .quti .quti__photo {
  position: relative;
}

header .container .head__child .box-2 .quti .quti__photo img {
  border-top-right-radius: .625rem;
  border-top-left-radius: .625rem;
  width: 100%;
}

header .container .head__child .box-2 .quti .quti__photo img:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 3.125rem;
  height: 3.125rem;
}

header .container .head__child .box-2 .quti .quti__photo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: red;
  color: #fff;
  padding: .3125rem 1.875rem;
  border-bottom-left-radius: .3125rem;
  border-top-right-radius: .625rem;
  border-bottom-right-radius: .125rem;
  border-top-left-radius: .125rem;
}

header .container .head__child .box-2 .quti .quti__info p {
  padding: 1.25rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
}

header .container .head__child .box-2 .quti .quti__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .625rem 1.25rem;
  padding-bottom: .575rem;
}

header .container .head__child .box-2 .quti .quti__comment .comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

header .container .head__child .box-2 .quti .quti__comment .comment-1 .comment-1_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header .container .head__child .box-2 .quti .quti__comment .comment-1 .comment-1_1 span {
  color: grey;
}

header .container .head__child .box-2 .quti .quti__comment .comment-1 .comment-1_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .1875rem;
}

header .container .head__child .box-2 .quti .quti__comment .comment-1 .comment-1_2 span {
  color: grey;
}

header .container .head__child .box-2 .quti .quti__comment .comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .625rem;
}

header .container .head__child .box-2 .quti .quti__comment .comment-2 span {
  color: grey;
}
/*# sourceMappingURL=main.css.map */